Package: emoji-picker
Version: 1.2.3
Description: Schneller Emoji-Auswahldialog mit Suchfunktion, aufrufbar mit Super+.
 Eine GTK4-Anwendung mit Live-Suche, Drag & Drop und System-Integration.
 Unterstützt Tastenkombinationen, History-Tab und KDE/GTK-Theming.
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Kai Thanner
Homepage: https://github.com/kai-thanner/emoji-picker
Depends: libgtk-4-1
License: MIT
