Package: emoji-picker
Version: 1.1.2
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Kai Thanner
Description: Schneller Emoji-Auswahldialog mit Suchfunktion, aufrufbar mit Super+.
Depends: libgtk-4-1
